body {
    background-color: var(--base-white);
    color: var(--text-slate);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

:root{
--background-cornflower: #E7E9FC;
        --background-navy: #2E2F42;
        --button-blue-iris: #4D5AE5;
        --text-slate: #434455;
        --background-cloud: #F4F4FD;
        --base-white: #FFFFFF;
        --text-slate: #434455;
        --button-blue-active-ocean: #404BBF;
        --background-activity:#E5E5E5;
}

/* header*/
header {
    background-color: var(--base-white);
}
.navigation, .address, .studio, .activity, .team-list, .portfolio-list, .portfolio-all-list{
    list-style: none;
    
}
/* logo*/
.logo {
    color: var(--background-navy);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
}
.web {
    color: var(--button-blue-iris);
}
/* navigation*/
.navigation a {
    color: var(--background-navy);
    font-weight: 500;
    text-decoration: none;
}
.navigation a:hover {
    color: var(--button-blue-iris);
}
.navigation a:focus {
    color: var(--button-blue-iris);

}
/* address*/
.address a{
    color: var(--text-slate);
    text-decoration: none;
}
.address a:hover {
    color: var(--button-blue-iris);
}
.address a:focus {
    color: var(--button-blue-iris);
}

/* main*/
/* hero*/
button {
    cursor: pointer;
}
.hero {
    background-color: var(--background-navy);
}
.hero-title {
    color: var(--base-white);
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
}
.button-order {
    background-color: var(--button-blue-iris);
    color: var(--base-white);
    font-family: inherit;
    font-weight: 500;
    text-align: center;
}
.button-order:hover {
    background-color: var(--button-blue-active-ocean);
}
.button-order:focus {
    background-color: var(--button-blue-active-ocean);
}

/* Studio*/
h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}

.studio-invisible-title {
    display: none;
}
.paragraph-title {
    color: var(--background-navy);
}
.paragraph-text {
    color: var(--text-slate);
}
/* activity*/
h2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
}
.section-title {
    color: var(--background-navy);
}
/* team */
.team {
    background-color: var(--background-cloud);
}
.team-members {
    background-color: var(--base-white);
}
.team-names {
    color: var(--background-navy);
}
.team-positions {
    color: var(--text-slate);
}
/* footer */
footer {
    background-color: var(--background-navy);
}
.logo-footer {
    color: var(--background-cloud);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
}
.footer-text {
    color: var(--background-cloud);
}


/* PORTFOLIO */
.portfolio-button {
    color: var(--button-blue-iris);
    background-color: var(--background-cloud);
    font-family: inherit;
        font-weight: 500;
        text-align: center;
}
.portfolio-button:hover {
    color: var(--base-white);
    background-color: var(--button-blue-active-ocean);
    
}
.portfolio-button:focus {
    color: var(--base-white);
    background-color: var(--button-blue-active-ocean);
   
}

.portfolio-all-list a {
    text-decoration: none;
}