
.header-parts {
   display: inline;
    width: 1440px;
    height: 72px;
    padding-right: 40px;
}

.logo {
    width: 115px;
    height: 21px;
    float: left;
    
}
.navigation, .address, .studio, .activity-list, .team-list {
    list-style: none;
    
}


.navigation li, .address li, .studio-list, .activity li, .team-members {
    float: left;
}
.studio {
    width: 1440px;
    
    
}
.studio-list {
    width: 264px;
    height: 104px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding-left: 24px;
}
.solutions {
    display: block;
    width: 1440px;
    height: 600px;
    background-color: blue;
}
.solutions-title-buton {
    width: 496px;
    height: 168px;
    margin-left: 496px;
    padding-top: 260px;
}
.h1 {
    width: 496px;
}
.button-order {
    width: 169px;
    height: 56px;
    background-color: orange;
   margin-left: px;
    margin-top: 48px;
}

.activity {
    width: 1440px;
    
   
}
.activity-title {
    
}
.team {
    margin-top: 1548px;
    width: 1440px;
    height: 732px;
}